{
  "plugins": ["@prettier/plugin-oxc", "prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./vendor/metacubexd/packages/ui/assets/css/main.css",
  "semi": false,
  "singleQuote": true,
  "endOfLine": "lf"
}
